// Colors

$white          :   #ffffff;
$black          :   #000;
$lighter-grey   :   #eee;
$light-grey     :   #f1f1f1;
$grey           :   #ccc;
$dark-grey      :   #757575;
$darker-grey    :   #616161;


// Breakpoints

$brkpoint-sm : '(min-width: 576px)';
$brkpoint-md : '(min-width: 768px)';
$brkpoint-lg : '(min-width: 992px)';
$brkpoint-xl : '(min-width: 1260px)';

// Container Widths

$cont-width-sm : 560px;
$cont-width-md : 750px;
$cont-width-lg : 970px;
$cont-width-xl : 1200px;
