// Simplify media queries. 
@mixin mq($break) {
    @if $break == "small" {
        @media #{$brkpoint-sm} {
            @content;
        }
    }
    @else if $break == "medium" {
        @media #{$brkpoint-md} {
            @content;
        }
    }

    @else if $break == "large" {
        @media #{$brkpoint-lg} {
            @content;
        }
    }
    @else if $break == "x-large" {
        @media #{$brkpoint-xl} {
            @content;
        }
    }
}

// Set common flex properties.
@mixin flex($flex-direction: null, $align-items: null, $justify-content: null) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

// Set common text properties.
@mixin text($font-size: null, $text-align: null, $color: null, $line-height: null) {
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
    line-height: $line-height;
}
