.banner {
    height: 100vh; // Make banner height equal to view port height.

    // Center banner items.
    @include flex(column, center, center);

    padding: 20px;
    color: $black;

    h1 {
      @include text(64px, center);
      margin: 10px 0px;
    }

    // Center banner heading better by accounting for scroll down div.
    p {
      margin-bottom: 55px;
    }
}

.scroll-down {
    // Put scroll down text 20px from bottom of banner.
    position: absolute;
    bottom: 20px;

    // Center scroll down arrow.
    @include flex(column, center);
    
    // Make arrow black.
    a {
      color: $black;
    }
}
