.banner {

  height: 100vh; // Make banner height equal to view port height.

  // Center banner items.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  h1 {
    font-size: 64px;
    text-align: center;
    margin: 10px 0px;
  }
}

.scroll-down {

  // Put scroll down text 20px from bottom of banner.
  position: absolute;
  bottom: 20px;

  // Center scroll down arrow.
  display: flex;
  flex-direction: column;
  align-items: center;

  // Make arrow black.
  a {
    color: $black;
  }
}
