.burger {
    // Fix burger to top right.
    position: fixed;
    right: 0;
    z-index: 1;

    font-size: 36px; // Adjust burger size.
    color: $dark-grey;
    background-color: $white;
    padding: 8px 16px;
    cursor: pointer;

    // Hide burger menu on large+ devices.
    @include mq(large) {
        display: none;
    }
}
