footer {
    margin-top: 40px;
}

.scroll-up {
    // Center scroll up arrow.
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;

    // Make arrow black.
    a {
        color: $black;
      }
}
