footer {
    color: $primary-color;
}

.scroll-up {
    // Center scroll up arrow.
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 7px;
    margin-top: 15px;

    a {
        color: $primary-color; // Make arrow primary color.
      }
}