footer {
    margin-top: 40px;
    color: $black;
}

.scroll-up {
    // Center scroll up arrow.
    @include flex(column, center);

    margin-bottom: 10px;

    // Make arrow black.
    a {
        color: $black;
      }
}