.form {
    @include flex(column);
    
    padding-top: 30px; // Create gap between divider and form.

    // Put sections on same line on medium+ devices.
    @include mq(medium) {
        flex-direction: row;
    }
}

.form_section {
    padding: 0px 15px;

    // Give sections equal width.
    @include mq(medium) {
        width: 50%;
    }
}

.form_info {
    padding: 10px; // Indent content.
    margin-bottom: 15px;

    p {
        margin-top: 0px;
    }

    i {
        font-size: 32px; // Set icon size.
        margin-right: 15px; // Add space between icon and text.
    }

    // Make height equal to input section and remove bottom margin on medium+ devices.
    @include mq(medium) {
        height: 100%;
        margin-bottom: 0px;
    }
}

.form_contact {
    // Center icon and text.
    @include flex($align-items: center);

    // Add underline to contact links.
    a {
        color: $dark-grey;
        &:hover { text-decoration: underline; }
    }
}

.form_message {
    @include text($color: $white, $text-align: center);
    display: none;
    margin-bottom: 15px;
    padding: 20px;
}

.form_name-wrapper {
    display: flex;
    flex-wrap: wrap;

    // Put text fields on same line on extra large devices.
    @include mq(x-large) {

        flex-wrap: nowrap;

        // Add margin to first text field.
        :nth-child(1) {
            margin-right: 15px;
        }

        // Make text fields take up same space.
        .form-group {
            width: 50%;
        }
    }
}

.form_group {
    width: 100%;
    margin-bottom: 15px;

    // Make each input field fill group container and add gap below.
    .form-text-field, .form-text-area, .form-submit-button {
        width: 100%;
    }

    .form-text-area {
        height: 150px;
    }

    .form-submit-button {
        line-height: 1.5;
        text-transform: uppercase;
    }
}
