.form {
    @include flex(column);
    
    padding-top: 30px; // Create gap between divider and form.

    // Put sections on same line on medium+ devices.
    @include mq(medium) {
        flex-direction: row;
    }
}

.form-section {
    padding: 0px 15px;

    // Give sections equal width.
    @include mq(medium) {
        width: 50%;
    }
}

.form-info {
    padding: 10px; // Indent content.
    margin-bottom: 15px;

    p {
        margin-top: 0px;
    }

    i {
        font-size: 32px; // Set icon size.
        margin-right: 15px; // Add space between icon and text.
    }

    // Make height equal to input section and remove bottom margin on medium+ devices.
    @include mq(medium) {
        height: 100%;
        margin-bottom: 0px;
    }
}

.form-contact {
    // Center icon and text.
    @include flex($align-items: center);
}

.form-input {

    // Create gap between each input field.
    .text-field, .text-area, .button {
        width: 100%;
        margin-bottom: 15px;
    }

    .text-area {
        height: 150px;
    }

    .button {
        text-transform: uppercase;
    }
}

.name-wrapper {
    display: flex;
    flex-wrap: wrap;

    // Put text fields on same line on extra large devices.
    @include mq(x-large) {

        flex-wrap: nowrap;

        // Add margin to first text field.
        :nth-child(1) {
            margin-right: 15px;
        }

        // Make text fields take up same space.
        .text-field {
            width: 50%;
        }
    }
}
