.scheme {
    // Show scheme sections in single column on small devices.
    @include flex(column);

    // Show scheme sections in row on medium+ devices.
    @include mq(medium) {
        flex-direction: row;
    }
}

.scheme-intro {
    padding: 0px 15px;
    margin-top: 30px;

    p {
        text-align: justify;
    }
}

.scheme-section-wrapper {
    padding: 0px 15px;
    margin-top: 30px; // Add vertical spacing between scheme sections.

    // Give scheme sections equal width.
    @include mq(medium) {
        width: 50%;
    }
}

.scheme-section {
    @include flex(column);
    height: 100%; // Give scheme sections equal height.
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); // Add shadow around scheme sections.

    .heading {
        border: 0px; // Remove heading divider.
        margin-top: 0px;
    }

    img {
        width: 100%;
        max-width: 200px;
        align-self: center;
    }
}

.scheme-body {
    @include flex(column);
    height: 100%; // Give scheme bodies equal height.
    padding: 30px; // Add padding around body.

    p {
        text-align: justify;
    }

    strong {
        margin-top: auto; // Pin score to bottom.
    }

    ul {
        padding-left: 20px;
        margin-bottom: 0px;
    }

    // Add more padding on x-large devices.
    @include mq(x-large) {
        padding: 45px;
    }
}
