.sidebar {
  // Hide by default on small and medium devices.
  visibility: hidden;
  width: 0;
  transition: 0.5s; // Animate width changes.

  height: 100%;
  position: fixed; // Stay in place when scrolling.
  background-color: $white;
  border-right: 5px solid black;
  overflow-x: hidden;

  // Show sidebar on large+ devices.
  @include mq(large) {
    @include flex(column);
    visibility: visible;
    width: 240px;
  }
}

.sidebar-header {
  text-align: center;
  background-color: $black;

  a {
    @include text(112px, $color: $white);
  }
}

.sidebar-links {
  padding: 30px 15px;

  a {
    display: block; // Put links on seperate line.
    @include text(20px, center, $black, 48px);
    border-bottom: 2.5px solid black; // Add divider between each link.
    padding: 6px 8px 6px 8px;
    white-space: nowrap; // Prevents links from wrapping to next line.
  }
}

.sidebar-social {
  // Space icons evenly.
  @include flex($justify-content: space-evenly);
  
  margin: auto 0px 2.5px 0px; // Pin social icons to the bottom of sidebar with small space beneath.

  // Set icon size and color.
  a {
    @include text(32px, $color: $black);
  }
}
