.hamburger {
  // Fix hamburger to top right.
  position: fixed;
  top: 13px;
  right: 13px;
  z-index: 2;

  padding: 8px 16px;
  background-color: $black;
  color: $white;
  cursor: pointer;

  // Hide burger menu on large+ devices.
  @include mq(large) {
    display: none;
  }

  // Turn hamburger bars into X when active.
  &.active {
    .hamburger-bar:nth-child(1) { transform: rotate(-45deg) translate(-7.5px, 9px); }
    .hamburger-bar:nth-child(2) { opacity: 0; }
    .hamburger-bar:nth-child(3) { transform: rotate(45deg) translate(-7.5px, -9px); }
  }
}

.hamburger-bar {
  height: 3px; // Bar thickness.
  width: 30px;
  background-color: $white;
  margin: 9px 0px; // Gap between each bar.
  transition: 0.4s;
}
