.button {
    display: inline-block;
    height: auto;
    border: none;
    text-align: center;
    color: $black;
    background-color: $light-grey;
    padding: 12px 24px;
    cursor: pointer;

    // Highlight button when covering.
    &:hover {
        background-color: $grey;
    }
}
