.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;

    // Width for small devices.
    width: 100%;
    max-width: 520px;

    // Width for medium+ devices.
    @include mq(medium) {
        width: 97%;
        max-width: 1410px;
    }
}

.content {
    // Shift content to the right on large+ devices to account for sidebar.
    @include mq(large) {
        margin-left: 240px;
    }
}
