.text-field, .text-area {
    line-height: 1.5;
    padding: 16px 8px;
    border: 1px solid $grey;
    resize: none;

    // Replace default outline color with black
    &:focus {
        outline-color: $black;
    }

    &:focus-visible {
        outline-color: $black;
    }
}

.error {
    border-color: $error-red;
    transition: 1s;
}
