.text-field, .text-area {
    line-height: 1.5;
    padding: 16px 8px;
    border: 1px solid $grey;
    resize: none;

    // Highlight input field when active.
    &:focus {
        border-color: $black;
        border-radius: 2px;
    }
}
